body{
    background-color: white;
}
header{
    font-family: Montserrat;
    font-size: 30px;
    display: none;
    padding: 10px 20px 10px 20px;
}
/*--------------DropDownMenu--------------*/
.dropbtn {
    background-color: #000;
    color: white;
    padding: 16px;
    font-family: Montserrat;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    font-family: Montserrat;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    font-size: 12px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #000;
}
/*--------------Images--------------*/
.img1 {
    padding: 70px 30px 0px 40px;
    display: block;
    margin: 0 auto;
    opacity: 1;
}
.img1:hover {
    opacity: 0.7;
}
.img2 {
    padding: 35px 30px 0px 40px;
    display: block;
    margin: 0 auto;
}
.img2:hover {
    opacity: 0.7;
}
.img3{
    padding: 35px 30px 30px 40px;
    display: block;
    margin: 0 auto;
}
.img3:hover {
    opacity: 0.7;
}
.img4{
    padding: 0px 30px 30px 40px;
    display: block;
    margin: 0 auto;}

.img4:hover {
    opacity: 0.7;}
/*--------------Text--------------*/
p{
    font-family: Montserrat;
    font-size: 12px;
    line-height: 1.5em;
    display: block;
    float: left;
    width: 350px;
    padding: 80px 20px 20px 20px;
}

/*--------------AboutMe--------------*/
#me{
    float: left;
    margin:10px 0px 10px 25px;
    max-width: 350px;
}
/*--------------Personal--------------*/
#personal{
    float: left;
    margin: 10px;
    max-width: 350px;
}
/*--------------Prof--------------*/
#proff{
    float: left;
    margin:0px 0px 10px 25px;
    max-width: 350px;
}
/*--------------Contact--------------*/
#call{
    float: left;
    margin: 0px 0px 10px 25px;
    max-width: 350px;
}
/*-------------- FOR TABLET --------------*/
@media only screen and (min-width:768px){
    header{
        font-family: Montserrat;
        font-size: 30px;
        display: none;
        width: 80%;
        padding: 10px 50px 10px 20px;
        }
/*--------------Tablet Text--------------*/
    p{
        font-family: Montserrat;
        font-size: 15px;
        line-height: 1.3em;
    }
/*--------------Tablet Images--------------*/
    .img1 {
        padding: 70px 20px 20px 20px;
        display: inline-block;
    }
    .img2{
        padding: 70px 20px 20px 0px;
        display: inline-block;
    }
    .img3{
        padding: 0 20px 20px 20px;
        display: inline-block;
    }
    .img4{
        padding: 0px;
        display: inline-block;
    }
/*--------------Tablet Contact--------------*/
    #call{
        float: left;
        margin: 85px 0px 0px 5px;
        max-width: 400px;
    }
/*--------------Tablet AboutMe--------------*/
    #me{
    float: left;
    margin: 85px 0px 0px 5px;
    max-width: 400px;
}
/*--------------Tablet Personal--------------*/
    #personal{
    float: left;
    margin: 85px 0px 0px 0px;
    max-width: 400px;
}   
/*--------------Tablet Prof--------------*/
    #proff{
    float: left;
    margin: 85px 0px 0px 5px;
    max-width: 400px;
}
   
}
/*-------------- FOR DESKTOP -----------------*/
@media only screen and (min-width: 1024px){
        
    header{
        font-family: Montserrat;
        font-size: 30px;
        display: none;
        width: 80%;
        padding: 10px 50px 10px 20px;
        }
/*--------------Desktop Text-----------------*/
    p{
        font-family: Montserrat;
        font-size: 20px;
        line-height: 1.3em;   
    }
/*--------------Desktop Images-----------------*/
     .img1 {
        margin-top: 70px;
        padding: 0px;
        display: inline-block;
    }
    .img2{
        padding: 0;
        display: inline-block;
    }
    .img3{
        padding: 0;
        display: inline-block;
    }
    .img4{
        padding: 0;
        display: inline-block;
    }
/*--------------Desktop AboutMe-----------------*/
    #me{
    float: left;
    display: inline-block;
    margin: 85px 0px 10px 10px;
    max-width: 700px;
}
/*--------------Desktop Personal-----------------*/
    #personal{
    float: left;
    display: inline-block;
    margin: 85px 0px 10px 10px;
    max-width: 700px;
}
/*--------------Desktop Prof-----------------*/
    #proff{
    float: left;
    display: inline-block;
    margin: 85px 0px 10px 10px;
    max-width: 700px;
}
/*--------------Desktop Contact-----------------*/
    #call{
    float: left;
    display: inline-block;
    margin: 85px 0px 10px 10px;
    max-width: 700px;
}
}